.gradient-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.navbar {
  width: 100%;
  height: 10%;
  /* position: fixed; */
  border-bottom: 5px solid #000000;
  background-color: #ffcc00;
}

.stripes-container {
  background-color: #333;
  overflow: hidden;
  position: relative;
  height: 10px;
  /* top: 4.5rem; */
}

.stripes {
  width: 300%;
  /* Quattro volte la larghezza della viewport per coprire completamente l'area di scorrimento */
  height: 100%;
  background: linear-gradient(45deg,
      #ffcc00 14%, #333 14%,
      #333 28%, #ffcc00 28%,
      #ffcc00 42%, #333 42%,
      #333 56%, #ffcc00 56%,
      #ffcc00 70%, #333 70%,
      #333 84%, #ffcc00 84%);
  animation: moveStripes 6s linear infinite;
  /* L'animazione dura 4 secondi, è lineare e viene eseguita all'infinito */
}

#logout :hover {
fill: rgb(210, 33, 33);}

.modal-content {
  border-radius: 15px;
}

.modal-button {
  background-color: transparent;
  border-color: transparent;
}

.text-dark :hover {
  cursor: pointer !important;
  transform: scale(1.2) !important;
}

.navbar-brand {
  font-size: 1.5rem;
}


.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-size: 30px;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.2);
  font-weight: 600;
}

.logout {
  margin-right: 2%;
  transition: transform 0.3s ease-in-out;
}

.logout :hover {
  cursor: pointer;
  fill: red;
}

.header-img {
  width: 70px;
  height: 70px;
}

@keyframes moveStripes {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}