<div class="cover-section">
    <h1>Il servizio taxi
        più premiato di Italia</h1>
</div>
<div class="d-flex">
    <div class="home-cnt">
        <div class="container">
        </div>
        <div class="text-section">
            <p>
              Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è
             considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una
             cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di
             cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu
             reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che
             contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker,
             che includeva versioni del Lorem Ipsum.
            </p>
         </div>
    </div>
    <div class="home-cnt">
        <div class="user-card">
            <div class="taxi">

            </div>
            <h1 style="color: white;">
                CIAO EMANUELE
            </h1>
            <p  style="color: white;">
                Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è
                considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese
                una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più
                di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente
                inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili
                “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione
                come Aldus PageMaker, che includeva versioni del Lorem Ipsum.
            </p>
        </div>
        <!-- <div class="container">
        </div>
        <div class="text-section">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
        </div> -->
    </div>
</div>




<!-- <div class="statistics-section">
    <div class="card">
        <h2>Numero di Clienti</h2>
        <p>{{ numberOfCustomers }}</p>
    </div>

    <div class="card">
        <h2>Numero di Corse</h2>
        <p>{{ numberOfRides }}</p>
    </div>
</div> -->