.table-yellow {
  background-color: #FFEB3B;
  /* Giallo */
  color: #000;
  /* Nero */
}

.table-dark-yellow {
  background-color: #212121;
  /* Nero */
  color: #FFEB3B;
  /* Giallo */
}

.cliente-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh;  */
}

th,
td {
  text-wrap: nowrap;
  vertical-align: middle;
  text-align: center;
}

td {
  background-color: #ffcc00;
  font-weight: 500;
  height: 5em;
}


td,
th {
  outline: 1px solid #212529;
}

.actions {
  border-color: transparent;
  background-color: transparent;
  /* margin-left: 5%; */
}

.actions :hover {
  transform: scale(1.1);
}


.jumbotron {
  background-color: #fff;
  /* Colore di sfondo */
  border-radius: 0;
  /* Nessun bordo arrotondato */
  padding: 30px;
  /* Padding interno */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Ombra sottile */
  color: #333333;
  /* Colore del testo */
  width: 100%;
  /* Occupa tutta la larghezza */
  max-width: 600px;
  /* Larghezza massima */
}

.jumbotron h1,
.jumbotron p,
.jumbotron a.btn-primary {
  text-align: center;
  /* Allinea il testo al centro */
}

.jumbotron hr {
  background-color: #ffffff;
  /* Colore della linea orizzontale */
}

.jumbotron a.btn-primary {
  background-color: #ffcc00;
  /* Colore di sfondo del bottone primario */
  border-color: #ffcc00;
  /* Colore del bordo del bottone primario */
  color: #333333;
  /* Colore del testo del bottone primario */
}

.jumbotron a.btn-primary:hover {
  background-color: #e5b300;
  /* Colore di sfondo del bottone primario al passaggio del mouse */
  border-color: #e5b300;
  /* Colore del bordo del bottone primario al passaggio del mouse */
  color: #333333;
  /* Colore del testo del bottone primario al passaggio del mouse */
}

.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {

  td,
  th {
    vertical-align: middle;
  }
}

.btn-group {
  display: flex;
  gap: 5px;

}

/* Aggiungi questo stile per allineare le icone al centro verticalmente nei bottoni */
.btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  padding: 0.2rem 0.35rem;
  /* Puoi regolare questi valori in base alle tue preferenze */
}

/* Aggiungi questo stile per regolare le dimensioni delle icone */
.btn-group .btn svg {
  width: 1em;
  height: 1em;
}


.form-check-input:checked {
  background-color: #ffcc00;
  border-color: black;
}

.payment-cnt{
   text-align: center;
}