<div *ngIf="admin == true">
  <div class="container mt-5">
    <section id="hero" class="d-flex align-items-center">
      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>TaxiToGo</h1>
            <h2>Il servizio taxi più premiato di Italia</h2>
          </div>
        </div>
    
        <div class="row icon-boxes">
          <!-- Prima card -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <a (click)="navigateToUserPage()" class="icon-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-sliders2" viewBox="0 0 16 16">
                  <!-- ... (rimuovi solo questa parte per mantenere il codice più breve) ... -->
                </svg>
              </div>
              <h4 class="title"><a href="">Gestione Utenti</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </a>
          </div>
    
          <!-- Seconda card -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <a (click)="navigateToTaxiPage()" class="icon-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                  <!-- ... (rimuovi solo questa parte per mantenere il codice più breve) ... -->
                </svg>
              </div>
              <h4 class="title"><a href="">Gestione Taxi</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </a>
          </div>
    
          <!-- Terza card -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <a (click)="navigateToCoursePage()" class="icon-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-fingerprint" viewBox="0 0 16 16">
                  <!-- ... (rimuovi solo questa parte per mantenere il codice più breve) ... -->
                </svg>
              </div>
              <h4 class="title"><a href="">Gestione Corse</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </a>
          </div>
    
          <!-- Quarta card -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
            <a (click)="navigateToAnalyticsPage()" class="icon-box">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                  <!-- ... (rimuovi solo questa parte per mantenere il codice più breve) ... -->
                </svg>
              </div>
              <h4 class="title"><a href="">Gestione Statistiche</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </a>
          </div>
    
        </div>
      </div>
    </section>
</div>

<div class="payment-cnt" *ngIf="payment">
  <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="green" class="bi bi-patch-check-fill"
    viewBox="0 0 16 16">
    <path
      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708" />
  </svg>
  <h2>
    Pagamento eseguito con successo, <br> grazie per aver scelto Crazy Taxi!
  </h2>
</div>

<div *ngIf="cliente == true" class="cliente-container">

  <!--<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>TaxiToGo</h1>
          <h2>Il servizio taxi più premiato di Italia</h2>
        </div>
      </div>
    </div>
  </section>-->

  <div class="jumbotron">
    <h1 class="display-4">Ciao, {{clienteNome}}!</h1>
    <p class="lead">(Introduzione al servizio taxi management)</p>
    <hr class="my-4">
    <p>Altro testo informativo.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#richieste"
        (click)="CourseMethod()">Prenota un taxi</a>
    </p>
  </div>
</div>



<div *ngIf="tassista == true" class="d-flex flex-column align-items-center">
  <h1 style="text-align: center; color: #fff;">Ciao, {{clienteNome}}</h1>
  <div class="d-flex justify-content-center">
    <button (click)="getAllRequest()" class="btn btn-warning d-inline-block"
      style="font-weight: 600; margin-right: 10px; padding: 8px;">Tutte le Richieste</button>
    <button (click)="getMyRequests()" class="btn btn-warning d-inline-block"
      style="font-weight: 600; margin-top: 2px; padding: 8px;">Le Mie Richieste</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table *ngIf="request && request.length > 0" class="table table-bordered rounded">
            <thead class="table-dark">
              <tr>
                <th>ID Richiesta</th>
                <th>Partenza</th>
                <th>Destinazione</th>
                <th>KM</th>
                <th>Tipo Corsa</th>
                <th>Prezzo</th>
                <th>Data</th>
                <th>Stato</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of request">
                <td>{{ r.course.id }}</td>
                <td>{{ r.course.startLocation.name }}</td>
                <td>{{ r.course.endLocation.name }}</td>
                <td>{{ r.course.km }}</td>
                <td>{{ r.course.ratesType.ratesType }}</td>
                <td>{{ r.course.ratesType.amount }}€</td>
                <td>{{ r.date }}</td>
                <td>{{ r.state }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" title="accetta" class="actions" (click)="acceptRequest(r.id)"
                      *ngIf="r.state === 'Rifiutata' || r.state != 'Accettata'">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path
                          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                      </svg>
                    </button>
                    <button type="button" title="rifiuta" class="actions" (click)="rejectRequest(r.id)"
                      *ngIf="r.state === 'Accettata' || r.state != 'Rifiutata'">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!request || request.length === 0">
          <h6 style="color:#fff; text-align: center;">Nessuna richiesta disponibile.</h6>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="dettaglio" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" #loginModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-black">
        <h5 class="modal-title">dettaglio </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeDettaglio()"></button>
      </div>
      <div *ngFor="let dt of detTaxi" style="margin-left: 5%;">
        <h6>id: {{dt.id}}</h6>
        <h6>idendificativo: {{dt.identifier}}</h6>
        <h6>id driver: {{dt.driver.id}}</h6>
        <h6>nome: {{dt.driver.name + ' ' + dt.driver.lastName}}</h6>
        <h6>cf: {{dt.driver.fiscalCode}}</h6>
        <h6>tel: {{dt.driver.mobilePhone}}</h6>
        <h6>email: {{dt.driver.email}}</h6>
        <h6>ruolo: {{dt.driver.userType}}</h6>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="richieste" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" #richiesteModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="richiesteForm">
        <div class="modal-header bg-warning text-black">
          <h5 class="modal-title">Prenota un taxi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="formsReset()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="partenza_destinazione" class="text-black">Seleziona la tratta<span
                class="text-danger">*</span></label>
            <select formControlName="partenza_destinazione" class="form-select" id="partenza_destinazione"
              (change)="onChangeSelect($event)">
              <option *ngFor="let option of destinations" [value]="option.rate + '_' + option.destination">{{
                option.destination }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="data" class="text-black">Data<span class="text-danger">*</span></label>
            <input type="date" formControlName="data" class="form-control" id="data" (change)="onChangeSelectD($event)">
          </div>
          <div class="mb-3">
            <label for="ora" class="text-black">Ora<span class="text-danger">*</span></label>
            <input type="time" formControlName="ora" class="form-control" id="ora" (change)="onChangeSelectH($event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close"
            (click)="formsReset()" (click)="paga()" [disabled]="richiesteForm.invalid"><a data-bs-toggle="modal"
              data-bs-target="#pay">Prenota</a></button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="pay" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-black">
        <h5 class="modal-title">Pagamento di: {{rate}}€</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="formsReset()"></button>
      </div>
      <form [formGroup]="paymentForm" class="modal-body">
        <div class="mb-3">
          <label for="cardNumber" class="form-label">Numero della carta:</label>
          <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">Data di scadenza:</label>
          <input type="date" id="expiryDate" formControlName="expiryDate" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="cvv" class="form-label">CVV:</label>
          <input type="text" id="cvv" formControlName="cvv" class="form-control" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" id="saveCardData" formControlName="saveCardData" class="form-check-input" />
          <label for="saveCardData" class="form-check-label">Salva i dati della carta</label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-warning" [disabled]="paymentForm.invalid" data-bs-dismiss="modal"
            aria-label="Close" (click)="paymentSuccess()">Effettua il pagamento</button>
        </div>
      </form>
    </div>
  </div>
</div>