#hero {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    background: none;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background-color: #333333;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 80px;
}


#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #ffcc00;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 22px;
}

#hero p {
    color: black;
    text-decoration: none;
}

#hero a {
    color: black;
    text-decoration: none;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #ffcc00;
}

#hero .btn-get-started:hover {
    background: #ffcc00;
}

#hero .icon-boxes {
    margin-top: 100px;
}

#hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

#hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#hero .icon-box .title a {
    color: #333333;
    transition: 0.3s;
}

#hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

#hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #ffcc00;
}

#hero .icon-box:hover {
    transform: scale(1.08);
}

#hero .icon-box:hover .title a {
    color: #333333;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-height: 800px) {
    #hero {
        height: auto;
    }
}

@media (max-width: 992px) {
    #hero {
        height: auto;
        z-index: 1;
        /* Add this line */
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.chart-container, .full-width-chart-container {
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 10%;
}

.full-width-chart-container {
    grid-column: span 1;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 30px;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

